/* @import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&amp;display=swap');
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {

  --color-tertiary-dim: #ef81c4;
  --color-on-tertiary-fixed-variant: #6e1354;
  --color-on-primary: #0f00a4;
  --color-surface-bright: #2c2c2c;
  --color-background: #0e0e0e;
  --color-tertiary-fixed-dim: #ef81c4;
  --color-surface-dim: #0e0e0e;
  --color-on-tertiary: #701455;
  --color-on-background: #ffffff;
  --color-outline-variant: #494847;
  --color-surface-tint: #a3a6ff;
  --color-outline: #777575;
  --color-surface-variant: #262626;
  --color-secondary-fixed-dim: #c8bbff;
  --color-surface-container-low: #131313;
  --color-on-tertiary-container: #63054a;
  --color-surface: #0e0e0e;
  --color-on-tertiary-fixed: #3b002b;
  --color-secondary-fixed: #d6cbff;
  --color-on-secondary-fixed-variant: #533ea7;
  --color-secondary-dim: #a28efc;
  --color-inverse-surface: #fcf8f8;
  --color-primary-dim: #6063ee;
  --color-error: #ff6e84;
  --color-surface-container-highest: #262626;
  --color-on-surface: #ffffff;
  --color-on-error: #490013;
  --color-error-dim: #d73357;
  --color-primary-container: #9396ff;
  --color-primary-fixed: #9396ff;
  --color-on-primary-fixed: #000000;
  --color-surface-container-high: #201f1f;
  --color-primary: #a3a6ff;
  --color-surface-container: #1a1919;
  --color-on-error-container: #ffb2b9;
  --color-error-container: #a70138;
  --color-secondary: #a28efc;
  --color-inverse-primary: #494bd7;
  --color-tertiary-fixed: #ff8ed2;
  --color-secondary-container: #49339d;
  --color-on-secondary-fixed: #361c89;
  --color-tertiary-container: #ff8ed2;
  --color-inverse-on-surface: #565554;
  --color-on-primary-container: #0a0081;
  --color-primary-fixed-dim: #8387ff;
  --color-tertiary: #ffa5d9;
  --color-on-secondary: #21006d;
  --color-surface-container-lowest: #000000;
  --color-on-secondary-container: #d4c9ff;
  --color-on-surface-variant: #adaaaa;
  --color-on-primary-fixed-variant: #0e009d;

  /* FONTS */
  --font-headline: "Manrope", sans-serif;
  --font-body: "Inter", sans-serif;
  --font-label: "Inter", sans-serif;
  --font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24;

  /* BORDER RADIUS */
  --radius: 0.125rem;
  --radius-lg: 0.25rem;
  --radius-xl: 0.5rem;
  --radius-full: 0.75rem;
}